/components/sound/sf2/HedsoundGMTfix.sf2
/components/sound/sf2/Ephesus_GM_Version_1_00.sf2
/components/sound/sf2/FatBoy-v0.789.sf2
/components/sound/sf2/OPLLandOPLL2DrumFix2.sf2
/components/sound/sf2/GenieVoice_GM64Pro_2.0_-_All_Sets.sf2
/components/sound/sf2/eawpats.sf2
/components/sound/sf2/GeneralUser_GS_SoftSynth_v144.sf2
/components/sound/sf2/Growtopia.sf2
/components/sound/mid/Under-The-Sea.mid
/components/sound/mid/Pirates of the Caribbean - He is a Pirate (1).mid
/components/sound/mid/DuckTales MIDI Intro.mid
/components/sound/mid/Star Wars - The Imperial March.mid
