<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rotate</title>
    <script type="module" src="index.js" defer></script>
    <style>
        svg {
            user-select: none;
        }

        .table {
            display: flex;
            flex-wrap: wrap;
            width: 520px;
        }

        .cell {
            width: 50px;
            height: 50px;
            border: 1px solid black;
        }

        .we {
            display: flex;
            flex-wrap: wrap;
            width: 518px;
            height: 300px;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
<div class="table"></div>
<div class="we container"></div>
</body>
</html>